.intro {
    background-image: url(./bakgrunn.jpg);
    background-size: 100%;
    /* width: 100%; */
    background-repeat: no-repeat;
    position: relative;
    padding-top: 80px;
    /* overflow: hidden; */
    height: 90vw;
    z-index: 0;

}


#introsection {
    margin-top: 0;
    padding-top: 0;
}

#introheader {
    font-size: 5.5vw;
    
    font-weight: 30;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    text-align: center;
    
    display: block;
    color: var(--fontfarge);
    /* border-bottom: 2px black solid; */
    margin: 50px 0 15px;
    padding-left: 10px;
    padding-top: 8vw;
}

#profilbilde {
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    float: right;
    margin: 5px;
    /* background-image: url(./profilbilde.jpg); */
    /* background-size: contain; */
    shape-outside: circle();
    shape-outside: margin-box;
}

#introsirkel {
    height: 75vw;
    width: 75vw;
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: -1;
    background-color: var(--hovedfarge);
    opacity: 0.6;
}

#introavsnitt {
    font-size: 3.2vw;
    margin: 0 20px 0 15px;
    text-align: center;
    padding-top: 2vw;

}

#introwrapper {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

@media screen and (min-width: 700px) {
    #introheader {
        font-size: 3.5vw;
        /* border: 1px solid blue; */
        /* font-size: 3em; */
    }

    #introavsnitt {
        font-size: 1.7vw;
        padding-left: 20vw;
        /* font-size: 1.5em; */
        /* line-height: 2vw; */
    }

    #introsirkel {
        height: 45vw;
        width: 45vw;
        left: 30vw;
        top: 150px;
    }

    #profilbilde {
        height: 22vw;
        width: 22vw;
        float: left;
        margin-top: 40px;
        margin-left: 40px;
        /* padding: 20px; */
    }
    
    #introwrapper {
        width: 80%;
        padding-right: 9vw;
        /* max-width: 1400px; */
    }

    .intro {
        padding-top: 12vw;
        height: 50vw;
    }

  }

@media screen and (min-width: 1400px) {
        #introheader {
        font-size: calc(0.035*var(--max-width));
        /* border: 1px solid blue; */
        /* font-size: 3em; */
    }

    #introavsnitt {
        font-size: calc(0.017*var(--max-width));
        padding-left: calc(0.20*var(--max-width));
        /* font-size: 1.5em; */
        /* line-height:calc(0. 2*var(--max-width)); */
    }

    #introsirkel {
        height: calc(0.45*var(--max-width));
        width: calc(0.45*var(--max-width));
        left: 15vw;
        top: 150px;
    }

    #profilbilde {
        height: calc(0.22*var(--max-width));
        width: calc(0.22*var(--max-width));
        float: left;
        margin-top: 40px;
        margin-left: 40px;
        /* padding: 20px; */
    }
    
    #introwrapper {
        width: calc(0.8*var(--max-width));
        padding-right:calc(0. 9*var(--max-width));
        /* max-width: 1400px; */
    }

    .intro {
        padding-top: calc(0.12*var(--max-width));
        height: calc(0.50*var(--max-width));
    }
}