:root {

    --max-width: 1400px;
    /* --bakgrunnsfarge: #f5f6f8; */
    /* --bakgrunnsfarge: #ecf0f1; */
    --bakgrunnsfarge: linear-gradient(to right, #f5f9fa , #eef2f3);

    --hovedfarge:#65a1fa;
    --sekundærfarge: #514FE3;
    --c-farge: #4FC7E3;
    --d-farge: hsl(266, 100%, 65%);
    --e-farge: #58FBD5;
    --f-farge: #d0f1de;
    --fontfarge: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    z-index: 3;
}

body {
    background-image: var(--bakgrunnsfarge);
    padding: 0;
}

h1 {
    font-size: 5.5vw;
    
    font-weight: 30;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    text-align: center;
    
    display: block;
    color: var(--fontfarge);
    /* border-bottom: 2px black solid; */
    margin: 0 0 20px 0;
    /* padding-left: 10px; */
    /* border: 1px lightcoral dashed; */

}

h2 {
    font-size: 4vw;
    
    font-weight: 30;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    text-align: center;
    
    display: block;
    color: var(--fontfarge);

    margin: 40px 0 15px 0;
    /* border: 1px lightcoral dashed; */

}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /* overflow: auto; */
}

p {
    margin: 10px 0;
    font-size: 3.2vw;
    text-align: center;
}

.fotnote {
    font-size: 3.2vw;
}

section {
    padding: 90px 0;
    position: relative;
}


ul {
    text-align: center;
}

ul li {
    padding: 7px;
    padding-left: 0;
    list-style-type: square;
}

.begynne {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    /* border: blue 1px solid; */
}

.steg {
    /* border: 1px solid blue; */
    margin: 15px auto;
}

.tallsirkel {
    background-color: var(--f-farge);
    display: block;
    position: relative;
    margin: auto;
    height: 70px;
    width: 70px;

    border-radius: 50%;

    /* border: blue 1px solid; */
}

.tallsirkel h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: blue 1px solid; */
}


#kontakt li {
    list-style-type: none;
    padding: 5px;
}

#kontakt li a {
    color: #343333;
    font-size: 3vw;
}

#kontakt li a:hover {
    text-decoration: none;
}

i {
    padding-right: 9px;
}

#kontaktsection {
    padding: 30px 0 30px 0;
    background-color: rgba(233, 207, 175, 0.3);
}

.sirkel {
    /* Kun midlertidig for at man skal kunne se den */
    background-color: lightcoral;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    /* opacity: 0.6; */
    position: absolute;
    z-index: -1;
}

#sirkel-2 {
    height: 50vw;
    width: 50vw;
    background-color: #9cac25;
    background-color: var(--d-farge);
    opacity: 0.3;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: -1;
}

#sirkel-3 {
    height: 40vw;
    width: 40vw;
    top: 30px;
    right: 40px;
    background-color: #F0E68C;
    background-color: #9cac25;
    background-color: var(--c-farge);
    opacity: 0.4;
}

#sirkel-4 {
    height: 37vw;
    width: 37vw;
    top: 50px;
    right: 50px;
    background-color: lightcoral;
    opacity: 0.4;
}

@media screen and (min-width: 700px) {

    #sirkel-2 {
        height: 30vw;
        width: 30vw;
        left: 15vw;
    }

    #sirkel-3 {
        height: 20vw;
        width: 20vw;
        right: 20vw;
    }

    h1 {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    li {
        font-size: 1.6vw;
    }

    p {
        margin-top: 40px;
        font-size: 1.8vw;
    }

    .fotnote {
        font-size: 1.5vw;
    }

    #kontakt li a {
        font-size: 1em;
    }

    .begynne {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .steg {
        margin-top: 0;
    }


}


@media screen and (min-width: 1500px) {
    .tallsirkel {
        height: 7vw;
        width: 7vw;
    }

    .tallsirkel h3 {
        font-size: 1.6vw;
    }
  }