:root {
    --bakgrunnsfarge: #f5f6f8;
    --hovedfarge:#65A1FA;
    --sekundærfarge: #514FE3;
    --c-farge: #4FC7E3;
    --d-farge: #994DFF;
    --e-farge: #58FBD5;
    --fontfarge: #000000;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    z-index: 3;
}

body {
    background-color: var(--bakgrunnsfarge);
    padding: 0;
}

section:nth-child(odd) {
    background-color: var(--bakgrunnsfarge);
}
section:nth-child(even) {
    background-color: var(--sekundærfarge);
}

.wrapper {
    /* position: relative; */
    width: 90%;
    margin: 0 auto;
    /* background-color: var(--sekundærfarge); */
    overflow: auto;
}


.normalp {
    padding: 7px;
    margin: 0 50px;

    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    display: block;
    /* border: 1px black dashed; */
    text-align: left;
    color: black;
}
/* 
div {
    border: 1px lightcoral dashed;
} */

section {
    margin: 0 0;
    /* padding: 0 5px; */
}

table, td, th, tr {

    text-align: center;
    margin: auto;
    /* border: 1px black solid;
    border-collapse: collapse; */
    padding: 5px;
}

th {
    font-weight: 999;
}

td {
    font-weight: lighter;
}

table {
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: var(--hovedfarge);
}
table tr:nth-child(even) {
    background-color: var(--sekundærfarge);
}

li {
    margin: 3px;
    margin-left: 30px;
    list-style-type: square;
}


.sirkel {

    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
    z-index: 0;
  }
/* 
@media screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
  }


@media screen and (min-width: 1500px) {
    .wrapper {
        width: 1400px;
    }
  } */